html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #7DCE94;
}

.container {
  display: grid;
  grid-template-rows: 10% 90%;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}

.navbar-container {
    grid-row-start: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    list-style-type: none;
}

.list-style {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  height: auto;
}

.list-style2 {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.link-style {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  text-decoration: none;
  color: #000;
  font-family: arial;
  text-align: center;
}

.link-style:hover {
  background-color: #ddd;
}


.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row-start: 2;
  width: 100%;
}

.container3 {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-row-start: 2;
  width: 75%;
  height: auto;
  grid-gap: 8%;
  margin-top: 5%;
}

.innercontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.boxes {
  align-items: center;
  justify-content: center;
  padding: 1.2em;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);
  text-align: center;
  font-family: arial;
  background-color: #fff;
  border-radius: 24px;
  font-size: 18px;
  background-color: #fff;
  margin-right: 20px;
  margin-bottom: -30px;
  width: 250px;
  height: 110px;
}

.button-style {
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
  padding: 0.5%;
  margin-left: 1%;
  opacity: 85%;
}

#output {
  visibility: hidden;
}


.boxes:hover {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.6);
}

.button-style:hover {
  opacity: 100%;
}

@media screen and (max-width: 700px) {
  .boxes {
    display: grid;
    grid-gap: 2em;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    margin-bottom: 20px;
  }
  .innercontainer {
    display: grid;
  }
}

.back{
  position: absolute;
  top: 10px;
  left: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: none;
  border-radius: 15px;
}

img{
  height: 35px;
}

p{
  color: black;
  padding: 10px;
  z-index: 5;
  margin-top: 0;
  margin-bottom: 0;
}
