html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.container {
  display: grid;
  grid-template-rows: 10% 90%;
  width: 100%;
  height: auto;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row-start: 2;
  width: 100%;
}

.container3 {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-row-start: 2;
  width: 50%;
  height: auto;
  grid-gap: 8%;
}


.boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);
  text-align: center;
  font-family: arial;
  background-color: #fff;
  border-radius: 24px;
  font-size: 25px;
  background-color: #fff;
}

.button-style {
  border-radius: 50%;
  background-color: #7dce94;
  border: 1px solid #fff;
  cursor: pointer;
  padding: 0.5%;
  margin-left: 1%;
  opacity: 90%;
}

#output {
  visibility: hidden;
}


.boxes:hover {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.6);
}

.button-style:hover {
  opacity: 100%;
}

@media screen and (max-width: 700px) {
  .boxes {
    display: grid;
    grid-gap: 2em;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
  }
}
