html, body {
  margin: 0;
  height: 100%;
}

p {
  font-family: arial;
  font-weight: bold;
  font-size: 25px;

}
.container {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wip {
  position: relative; bottom: 100px;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; bottom: 200px;
}
